 <div class="recipe-new-main">
    <h2 class="recipe-new-title">レシピの情報を入力</h2>
    <%= form_with model: @recipe ,local: true do |f| %>
    <div class="img-upload">
      <div class="weight-bold-text">
        料理画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"recipe-image" %>
      </div>
    </div>

    <div class="new-recipes">
      <div class="weight-bold-text">
        料理名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"recipes-title", id:"recipe-title", placeholder:"料理名（必須 30文字まで)", maxlength:"30" %>


      <div class="recipes-recipe">
        <div class="weight-bold-text">
          材料
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :material, class:"recipes-material", id:"recipe-material", placeholder:"料理の材料（必須 300文字まで）例）にんじん2本、じゃがいも2つ、好みの肉、カレー粉。" ,maxlength:"300" %>
      </div>


      <div class="recipes-recipe">
        <div class="weight-bold-text">
          料理の作り方
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"recipes-text", id:"recipe-info", placeholder:"料理の作り方（必須 1,000文字まで）例）材料を全て加えた後炒めて、火が通ってきたら調味料の☆を加え、煮込んで完成です。" ,rows:"7" ,maxlength:"1000" %>
      </div>

      
    </div>



    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>